&w25q64 {
    status = "disabled";
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>,<&gpio0 25 GPIO_ACTIVE_LOW>;

    sdhc0: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";
        mmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
        };
        spi-max-frequency = <8000000>;
    };

    W25Q64_1: w25q64jv@1 {
        compatible = "jedec,spi-nor";
        reg = <1>;
        spi-max-frequency = <8000000>;
        size = <0x4000000>;
        jedec-id = [ef 40 17];
        has-dpd;
        t-enter-dpd = <10000>;
        t-exit-dpd = <5000>;
    };
};


/ {
    chosen {
        nordic,pm-ext-flash = &W25Q64_1;
    };
};